:root {
    --foreground-color: #240b0b;
    --background-color: #2e1919;
    --surface-color: #1e1e1e;
    --primary-color: #bb86fc;
    --secondary-color: #03dac6;
    --text-color: #b9cedf;
    --accent-color: #6e2532;
    --some-light: #a8dadc;

    --general-padding: 2em;
    --general-margin: 1em;
}

html, body {
    height: 100%;
    background-color: var(--surface-color);
    color: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.info {
    padding: 0.5em;
    background-color: var(--background-color);
    border-radius: 12px;
    font-weight: 400;
    margin-top: var(--general-margin);
}

header {
    font-weight: bold;
    font-size: large;
}

header#second_page {
    margin-top: var(--general-margin);
}

div p {
    margin-bottom: var(--general-margin);
}

div#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: var(--general-margin);
}

nav {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: var(--foreground-color);;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    overflow: hidden;
    width: 100%;
}

nav li {
    border-right: 1px solid;
    display: inline-block;
    min-width: 5em;
}

a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--some-light);
    padding: 10px;
}

a:hover {
    background-color: var(--accent-color);
    font-weight: bold;
}

#content {
    flex: 1;
}

.button button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 6em;
    font-size: 1em;
}

#map { height: 512px; }

.parking-box {
    flex: 1 1 250px;
    max-width: 300px; 
    cursor: pointer; 
    border: 1px solid #ccc; 
    padding: 10px;
    margin: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--accent-color);
}

@media only screen and (min-width: 320px) {
    div#parkingHouses {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
}

@media only screen and (max-height: 799px) {
    #map { height: 256px; }
}

@media only screen and (min-height: 1050px) {
    #map { height: 768px; }
}

@media only screen and (min-height: 1300px) {
    #map { height: 1024px; }
}

@media (max-width: 600px) {

    nav li {
        width: auto;
    }
}

